*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding:30px 100px ;
   width: 100%; 
 height: 80px;
 /* background-color: red;    */
display: flex;
justify-content: space-between;
align-items: center;
}

header .search{
    position: relative;
}

header .search input{
    height: 40px;
    border: none;
    background-color: #fff;
    margin-left: 5px;
    color: #606770;
    font-size: 15px;
    padding: 10px 35px;
    transition: all 0.4s;
 
}

header .search input:hover{
transform:translateX(-8px);
}


header .search input:focus{
outline: none;
}

header .search .fa-magnifying-glass{
position: absolute;
left: 10px;
top: 12px;
font-size: 15px;
color: #606770;
}
header .icons{
    display: flex;
    align-items: center;
}
header .icons .active{
   position: relative;

}

header .icons .active .circle{
    position: absolute;
    top: -17px;
    right: -14px;
    width: 25px;
    height: 25px;
    background-color:blueviolet;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

header .name{
border: 3px solid #000;
padding: 5px 10px;
transform: translatex(-50%);

} 



header .name h1{
font-weight: bold;
font-size: 20px;
color: #000;
}



header .icons i{
font-size: 15px;
padding: 6px;
color: #606770;
transition: all 0.4s;
}

header .icons i:hover{
 color: #000;  
 transform: scale(1.1);
}


hr{
opacity: 0.3;    
}

/* nav bar */
/* ========================================================== */

nav{
    padding: 30px 0;
display: flex;
justify-content: center;
align-items: center;
}

nav .home{
display: flex;
align-items: center;
padding-right: 10px;
}
nav .Home a{
color: blueviolet;
}

nav   .fa-angle-down{
  font-size: 15px;

}

nav .About{
display: flex;
align-items: center;
padding-right: 15px;
}
nav a{
  text-decoration: none ;
  color: #000;
  font-weight: 600;
  opacity: 0.8;
  padding: 10px;
}

nav a:hover{
color: blueviolet;
}


.home{
    height: 56px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.home .link {
    margin-right : 6px;
    text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

.home a {
    text-decoration: none;
color: #000;
margin-left: 6px;
font-weight: bold;

}
/* product */
/* =========================================== */
.pro{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro .pro-image{
width: 500px;
margin-right: 30px;
}

.pro .pro-content{
    margin-top: 20px;
width: 500px;
margin-left: 70px;
}

.pro .pro-content h1{
margin-bottom: 10px;
font-size: 25px;
}

.pro .pro-content h3{
margin:20px 0;
font-weight: 700;
color: blueviolet;
}

.pro .pro-content p{
margin-bottom: 20px;
opacity: 0.8;
font-weight: 400;
}

.pro .pro-content button{
    border: none;
background-color: blueviolet;
padding: 10px 20px;
margin-top: 20px;

}

.pro .pro-content button a{
text-decoration: none;
color: #fff;
}


.pro .pro-content .radio input[type="number"]{
height: 30px;
width: 100px;
margin-top: 20px;
outline: none;
}
.pro .pro-content .radio input[type="number"]::placeholder{

font-size: 15px;
color: blueviolet;
}

/* featured */
/* ===================================== */

.featured {
    background-color:#ddd;
    padding: 80px 20px;
    position: relative;
    }
    .featured .line{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    width: 40px;
        height: 4px;
        background-color: blueviolet;
    
    }
    .featured  h1 {
        margin-top: 20px;
    text-align: center;
    }
    
    .featured .container{
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }
    
    .featured .container .product{
    width: 350px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 5px 5px 25px rgb(213, 218, 233);
    }
    
    .featured .container .product img{
    width: 100%;
    }
    
    .featured .container .product .product-content{
    text-align: center;
    padding: 20px;
    }
    
    .featured .container .product .product-content h3{
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .featured .container .product .product-content p{
    font-weight: 400px;
    margin-bottom: 10px;
    }

    
   /* footer */
/* ========================================== */


footer{
    padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  footer .col{
    width: 240px;
    /* border: 2px solid red; */
  }
  footer .col h1{
    font-size: 20px;
    font-weight: bold;
  margin-bottom: 10px;
  
  }
  
  footer .col .footer-content p{
  margin-bottom: 10px;
  }
  
  footer .colun .footer-content img{
    width: 200px;
    height: 89px;
    }
    
    footer .colun{
      /* border: 2px solid red; */
      height: 150px;
      width: 240px;
      margin-right: 20px;
    }
  
    footer .colun h1{
      font-size: 20px;
      font-weight: bold;
    margin-bottom: 10px;
    }
  
    footer .colun h3{
  color: blueviolet;
  margin-top: 10px;
    }
  
    footer .colun p{
    margin-top: 20px;
    font-weight: 500;
    opacity: 0.7;
    }
  
  
    footer .colun2{
      /* border: 2px solid red; */
      height: 150px;
      width: 240px;
    }
  
    footer .colun2 h1{
    font-size: 20px;
    font-weight: bold;
  
  
    }
    footer .colun2 .information {
  display: flex;
  margin-top: 10px;
    }
  
    footer .colun2 .information i{
  color: blueviolet;
  margin-right: 5px;
    }
  
    footer .colun2 .input{
      margin-top: 10px;
      display: flex;
  position: relative;
    }
    footer .colun2 .Email input{
     height: 35px;
   width: 100%;
   
    }
  
    footer .colun2 .Email h2{
  color: blueviolet;
  margin-top: 10px;
  font-size: 20px;
    }
    footer .colun2 .Email input:focus{
  outline: none;
  
    }
  
    footer .colun2 .input button{
      margin-top: 20px;
      background-color: slateblue;
      color: #fff;
      padding: 9px 15px; 
      border: none;  
      margin-top: 30px;
      border-radius: 3px;
     transition: all 0.4s;
     transform: translateY(-90%);
  
    }
  
  